<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">Ohoon's Blog</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/posts" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Posts
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                        <a class="dropdown-item" href="/posts">Category 1</a>
                    </div>
                </li>
                <% if (isAuthenticated) { %>
                    <li class="nav-item ml-2">
                        <a href="/users/<%= currentUser.id %>" class="nav-link"><%= currentUser.nickname %></a>
                    </li>
                    <li class="nav-item ml-1">
                        <a href="/logout" class="btn btn-danger btn-sm">Logout</a>
                    </li>
                <% } else { %>
                    <li class="nav-item ml-2">
                        <a href="/login" class="btn btn-secondary btn-sm">Log in</a>
                    </li>
                    <li class="nav-item ml-1">
                        <a href="/users/signup" class="btn btn-success btn-sm">Sign up</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>