<form action="/posts/<%= category?`category/${category.id}`:`` %>" method="get">
    <div class="card my-4">
        <h5 class="card-header">Search</h5>
        <div class="card-body">
            <div class="input-group">
                <input type="text" class="form-control" id="search" name="search" placeholder="Search for..." value="<%= search?search:'' %>">
                <span class="input-group-append">
                    <button type="submit" class="btn btn-secondary">Go!</button>
                </span>
            </div>
        </div>
    </div>
</form>