body {
  padding-top: 45px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.bg-image-full {
  background: no-repeat center center scroll;
  background-size: cover;
}