<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <title>Ohoon's Blog</title>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <header class="py-5 bg-image-full" style="background-image: url('/images/banner.jpg');">
      <div class="py-5 container">
        <h1>웹개발 공부 블로그</h1>
        <p class="lead">Web Development Study Blog</p>
      </div>
    </header>
    
    <!-- Page Content -->
    <div class="container my-4">

      <div class="row">

        <!-- Chat Room Column -->
        <div class="col-md-12">

          <h1 class="my-4">
            <small>Chat Room </small> <small class="text-muted" id="num" name="num"></small>
          </h1>

          <hr class="mb-4">

          <!-- Chat Box -->
          <div class="row">
            <div class="col-md-12">
              <div class="input-group">
                <textarea class="form-control" id="chatLog" name="chatLog" rows="15" style="width: 75%" disabled></textarea>
                <div class="input-group-append">
                  <textarea class="form-control" id="chatUserList" name="chatUserList" rows="15" disabled></textarea>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <form id="chat">
                <div class="input-group">
                  <div class="input-group-prepend" style="width: 10%">
                    <input type="text" class="form-control" id="nickname" name="nickname" value="<%= currentUser?currentUser.nickname:'' %>" disabled>
                  </div>
                  <input type="text" class="form-control" id="message" name="message" style="width: 80%">
                  <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-secondary" id="send" name="send">Send</button>
                  </div>
                </div>
              </form>
            </div>
          </div>

        </div>

      </div>
      <!-- /.row -->

    </div>
    <%- include('../partials/footer') %>

    <script>
      const socket = io();

      $('#chat').on('submit', (e) => {
        if ($('#message').val()) {
          socket.emit('send message', $('#nickname').val(), $('#message').val());
          $('#message').val('');
        }

        $('#message').focus();
        e.preventDefault();
      });

      socket.on('chatLog is loaded', (log) => {
        console.log(log);
        const msg = log.forEach(chat => $('#chatLog').append(`${chat.sender}: ${chat.message}\n`));
        $('#chatLog').scrollTop($('#chatLog')[0].scrollHeight);
      });

      socket.on('receive message', (msg) => {
        $('#chatLog').append(msg+'\n');
        $('#chatLog').scrollTop($('#chatLog')[0].scrollHeight);
      });

      socket.on('set nickname', (nickname) => {
        $('#nickname').val(nickname);
      });

      socket.on('new connection exists', () => {
        console.log("new connect!");
        $('#message').val("다른 곳에서 접속을 시도하여 채팅이 종료됩니다.");
        $('#message').attr("disabled", true);
        $('#send').attr("disabled", true);
        socket.disconnect();
      });

      socket.on('receive userList', (userList) => {
        $('#num').text('(' + userList.length + ')');
        $('#chatUserList').empty();
        userList.forEach( (user) => { $('#chatUserList').append(user+'\n') } );
      });
    </script>

    <% if (isAuthenticated) { %>
      <script>
        socket.emit('loggined', $('#nickname').val());
      </script>
    <% } else { %>
      <script>
        socket.emit('not loggined');
      </script>
    <% } %>

  </body>
</html>
